@use "../base/variables";
@use "../base/mixins";

.main {
  padding: 4rem;
  width: 85%;
  @include mixins.tablet {
    width: 75%;
  }
}
.contenido-nosotros {
  @include mixins.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
  }
  .imagen {
    margin-bottom: 5rem;
    @include mixins.tablet {
      margin: 0 2rem 0 0;
    }
    img {
      border: 3rem solid variables.$blanco;
      transform: rotate(-6deg);
      box-shadow: 9px 10px 5px -7px rgb(0 0 0 / 0.35);
    }
  }
  .texto {
    blockquote {
      margin: 0;
      padding: 1rem;
      border-left: 0.5rem solid variables.$color-primario;
      font-weight: 700;
    }
  }
}
